form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input, select, button {
  margin-bottom: 16px; 
  padding: 8px; 
  font-size: 16px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3d8e40;
  color: white;
  border: none;
  cursor: pointer;
}

.add-product-button:hover {
  background-color: #45a049;
}

.add-product-button:active {
  background-color: #4CAF50;
}
